<nav class="navbar navbar-inverse admin_header">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a ng-href="#/" target="_blank">View Website</a></li>
                <li><a ng-href="#/category">Add Category</a></li>
                <li><a ng-href="#/category-images">Add Category Images</a></li>
                <li><a ng-href="#/change-password">Change Password</a></li>
                <li ng-click="logout()"><a ng-href="">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
