<div class="grida-container">

    <div class="grid-title">
        <span ng-bind="data.name"></span>
        <span ng-if="type == 1" ng-switch="data.page">
            <span ng-switch-when="1">(Sourcing)</span>
            <span ng-switch-when="2">(Design)</span>
            <span ng-switch-when="3">(Product)</span>
        </span>
    </div>

    <div class="grids-inner">
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-4 pad-right-0">
                    <div class="img-1-box">
                        <div class="img-1-box-inner">

                            <image-loading ng-show="imageLoading[1]"></image-loading>

                            <div class="overlay"></div>
                            <img fallback-src="{{$parent.categoryPicture.fallbackImg}}"
                                 ng-src="{{categoryImage[1]}}"
                                 class="img-1">
                            <button ng-if="type == 1" ng-click="clickImageInput(data.id, 1)" class="image-upload-btn">Choose File
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="img-2-box">
                        <div class="img-2-box-inner">

                            <image-loading ng-show="imageLoading[2]"></image-loading>

                            <div class="overlay"></div>
                            <img fallback-src="{{$parent.categoryPicture.fallbackImg}}"
                                 ng-src="{{categoryImage[2]}}"
                                 class="img-2">
                            <button ng-if="type == 1" ng-click="clickImageInput(data.id, 2)" class="image-upload-btn">Choose File
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-4 pad-right-0">
                    <div class="img-3-box">
                        <div class="img-3-box-inner">

                            <image-loading ng-show="imageLoading[3]"></image-loading>

                            <div class="overlay"></div>
                            <img fallback-src="{{$parent.categoryPicture.fallbackImg}}"
                                 ng-src="{{categoryImage[3]}}"
                                 class="img-3">
                            <button ng-if="type == 1" ng-click="clickImageInput(data.id, 3)" class="image-upload-btn">Choose File
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 pad-right-0">
                    <div class="img-4-box">
                        <div class="img-4-box-inner">

                            <image-loading ng-show="imageLoading[4]"></image-loading>

                            <div class="overlay"></div>
                            <img fallback-src="{{$parent.categoryPicture.fallbackImg}}"
                                 ng-src="{{categoryImage[4]}}"
                                 class="img-4">
                            <button ng-if="type == 1" ng-click="clickImageInput(data.id, 4)" class="image-upload-btn">Choose File
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="img-5-box">
                        <div class="img-5-box-inner">

                            <image-loading ng-show="imageLoading[5]"></image-loading>

                            <div class="overlay"></div>
                            <img fallback-src="{{$parent.categoryPicture.fallbackImg}}"
                                 ng-src="{{categoryImage[5]}}"
                                 class="img-5">
                            <button ng-if="type == 1" ng-click="clickImageInput(data.id, 5)" class="image-upload-btn">Choose File
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <input id="{{data.id+1}}" style="display: none" type="file" ngf-change="submitCategoryImage($file, data.id, 1)"
           ngf-select
           ng-model="abc" ngf-multiple="false" class="image-upload-input">
    <input id="{{data.id+2}}" style="display: none" type="file" ngf-change="submitCategoryImage($file, data.id, 2)"
           ngf-select
           ng-model="abc" ngf-multiple="false" class="image-upload-input">
    <input id="{{data.id+3}}" style="display: none" type="file" ngf-change="submitCategoryImage($file, data.id, 3)"
           ngf-select
           ng-model="abc" ngf-multiple="false" class="image-upload-input">
    <input id="{{data.id+4}}" style="display: none" type="file" ngf-change="submitCategoryImage($file, data.id, 4)"
           ngf-select
           ng-model="abc" ngf-multiple="false" class="image-upload-input">
    <input id="{{data.id+5}}" style="display: none" type="file" ngf-change="submitCategoryImage($file, data.id, 5  )"
           ngf-select
           ng-model="abc" ngf-multiple="false" class="image-upload-input">

</div>