<div class="menu-container hidden-xs">

    <button class="menu-btn"
            ng-click="menuToggle()">menu</button>

    <ul ng-show="menuState" class="menu-list sample-show-hide" style="clear:both;">
        <li><a ng-href="#/">About</a></li>
        <li><a ng-href="#/sourcing">Sourcing</a></li>
        <li><a ng-href="#/design">Design</a></li>
        <li><a ng-href="#/product">Product</a></li>
        <li><a ng-href="#/contact">Contact Us</a></li>
    </ul>

</div>


<nav class="navbar navbar-inverse visible-xs main-header">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a ng-href="#/">About</a></li>
                <li><a ng-href="#/sourcing">Sourcing</a></li>
                <li><a ng-href="#/design">Design</a></li>
                <li><a ng-href="#/product">Product</a></li>
                <li><a ng-href="#/contact">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>