<div class="home-container">
    <div class="contact-bg" style="min-height: 100%">

        <div class="container">

            <admin-header></admin-header>

            <div class="row">

                <!-------------- add category ---------->
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 right">

                    <form class="admin_login_form" ng-submit="addCategory()">
                        <div class="change-password-title">Add Category</div>
                        <div ng-bind="addCategoryMsg" class="login_error"></div>
                        <fieldset>
                            <input ng-model="category.name" type="text" placeholder="Category Name" required>
                            <select
                                    ng-model="category.type" required>
                                <option selected disabled>Category Type</option>
                                <option value="1">3-Image</option>
                                <option value="2">5-Image</option>
                            </select>
                            <select
                                    ng-model="category.position" required>
                                <option selected disabled>Order-position</option>
                                <option ng-repeat="n in [] | range:(arrayLength + 1)" ng-bind="n + 1" value="{{n+1}}"></option>
                            </select>
                            <select
                                    ng-model="category.page" required>
                                <option selected disabled>Display Page</option>
                                <option value="1">Sourcing</option>
                                <option value="2">Design</option>
                                <option value="3">Product</option>
                            </select>
                            <button type="submit" ng-bind="add.text" ng-disabled="add.active">Add</button>
                        </fieldset>
                    </form>

                </div>
                <!-------------- add category ---------->


                <!---------- categories list --------------->
                <div class="col-xs-12 col-md-8">

                    <div class="categories-list-box">
                        <div class="change-password-title">
                            Categories
                            <button ng-click="getData()" class="refresh-btn">Refresh</button>
                        </div>

                        <div class="each-list-box" ng-repeat="category in myCategory | toArray | orderBy: 'position' | orderBy: 'page'">
                            <div ng-bind="errorMsg[$index]" class="error_msg"></div>
                            <div class="index" ng-bind="$index + 1"></div>
                            <div class="main-info-box">
                                <input ng-model="category.name" type="text"/>
                                <div>
                            <span ng-switch="category.page">
                                <span ng-switch-when="1">Sourcing </span>
                                <span ng-switch-when="2">Design </span>
                                <span ng-switch-when="3">Product </span>
                            </span>
                                    <span ng-bind="category.type == '1' ? '3-Image' : '5-Image'"></span>
                                </div>
                                <select ng-model="category.position">
                                    <option ng-repeat="n in [] | range:arrayLength" ng-bind="n + 1" value="{{n+1}}"
                                            ng-selected="category.position == $index + 1"></option>
                                </select>
                            </div>
                            <button ng-click="saveItem(category, $index)"
                                    ng-bind="saveButtons[$index] == 0 ? 'Saving...' : 'Save'"
                                    ng-disabled="saveButtons[$index] == 0"
                                    class="save-btn">Save
                            </button>
                            <button ng-click="removeItem(category.id, $index)"
                                    ng-bind="removeButtons[$index] == 0 ? 'Removing...' : 'Remove'"
                                    ng-disabled="removeButtons[$index] == 0"
                                    class="remove-btn">Remove
                            </button>
                        </div>

                    </div>
                </div>
                <!---------- categories list --------------->


            </div>
        </div>

    </div>
</div>