<div class="home-container">
    <div class="contact-bg" style="height: 100%">

        <div class="container">

            <admin-header></admin-header>

            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div ng-repeat="category in myCategory | toArray | orderBy: 'position' | orderBy: 'page'">
                        <grid-a data="category" type="1" ng-if="category.type == 2"></grid-a>
                        <grid-b data="category" type="1" ng-if="category.type == 1"></grid-b>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>