<div class="home-container">
    <div class="contact-bg" style="height: 100%">

        <div class="container">

            <admin-header></admin-header>

            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-4 pull-right">
                    <form class="admin_login_form" name="changepwdForm" ng-submit="changePassword()">
                        <div class="change-password-title">Change Password</div>
                        <div ng-bind="changepwdMsg" class="login_error"></div>
                        <div ng-bind="successMsg" class="login_error" style="color: green;"></div>
                        <fieldset>
                            <input ng-model="user.newpwd" type="password" placeholder="New Password" required>
                            <input ng-model="user.confirmpwd" type="password" placeholder="Confirm Password" required>
                            <button type="submit" ng-bind="form.text" ng-disabled="form.active">Save Changes</button>
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>

    </div>
    <img src="img/logo.png" class="home-logo">
</div>