<div class="home-container">
    <div class="home-bg">

    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-4 pull-right" style="margin-top: 100px">
                <form class="admin_login_form" name="loginForm" ng-submit="login()">
                    <div class="admin_login_title">Admin Login</div>
                    <div ng-bind="loginMsg" class="login_error"></div>
                    <fieldset>
                        <input ng-model="user.email" type="email" placeholder="Email address" required>
                        <input ng-model="user.password" type="password" placeholder="Password" required>
                        <button type="submit" ng-bind="form.text" ng-disabled="form.active"></button>
                    </fieldset>
                </form>
            </div>

        </div>
    </div>

    <img src="img/logo.png" class="home-logo">
</div>