@import "mixins"

ul,li
  text-decoration: none
  list-style-type: none
  font-family: inherit
  padding-left: 0
  margin: 0

a, a:hover, a:visited
  text-decoration: none
  color: inherit

.row .pad-0
  padding: 0

.row .marg-0
  margin: 0
