=box-shadow($shadow-value)
  box-shadow: $shadow-value
  -moz-box-shadow: $shadow-value
  -webkit-box-shadow: $shadow-value

=border-radius($radius-value)
  border-radius: $radius-value
  -moz-border-radius: $radius-value
  -webkit-border-radius: $radius-value

=transition($transition-value)
  -webkit-transition: $transition-value
  -moz-transition: $transition-value
  -o-transition: $transition-value
  -ms-transition: $transition-value
  transition: $transition-value

=transform($transform-value)
  transform: $transform-value
  -ms-transform: $transform-value
  -webkit-transform: $transform-value

=appearance($appearance-value)
  appearance: $appearance-value
  -moz-appearance: $appearance-value
  -webkit-appearance: $appearance-value

=grayfilter($filter-value)
  filter: grayscale($filter-value)
  -webkit-filter: grayscale($filter-value)