@import "default"
@import "mixins"

.header_icon_box
  display: inline-block
  width: 100%
  .header_icon_inner
    float: right
    margin: 20px
    display: none
    cursor: pointer
    @media screen and (max-width: 991px)
      display: inherit
      margin: 20px 20px 0
  img
    width: 35px
    padding: 10px
    background-color: rgba(118, 118, 118, 0.8)
    +border-radius(3px)

.admin_header
  min-height: 42px
  background-color: rgba(118, 118, 118, 0.8)
  border: 1px solid rgba(118, 118, 118, 0.8)
  color: #ffffff
  margin: 20px 0 50px
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
  +border-radius(3px)
  @media screen and (max-width: 991px)
    margin: 20px 0 50px
  ul
    width: 100%
    display: inline-block
    li
      display: inline-flex
      cursor: pointer
      font-weight: bold
      margin-right: 1px
      @media screen and (max-width: 991px)
        display: flex
      &:last-child
        float: right
        @media screen and (max-width: 767px)
          float: none
      a
        padding: 10px 20px
        +transition(all .2s linear)
        @media screen and (max-width: 991px)
          width: 100%
        &:hover
          background-color: #cccccc
          color: #364898

.admin_header .navbar-nav
  margin: 0
  @media screen and (max-width: 767px)
    margin: 7.5px 0

.admin_header .navbar-nav>li>a
  color: white
  &:hover
    background-color: #cccccc
    color: #364898

.admin_header .navbar-nav>.active>a, .admin_header .navbar-nav>.active>a:focus, .admin_header .navbar-nav>.active>a:hover
  background-color: #cccccc
  color: #364898