@import "mixins"
@import "default"

.login-form-container
  @media screen and (max-width: 601px)
    margin: 10px

.admin_login_form
  position: relative
  background: #fefefe
  color: #444
  text-align: center
  border: 1px solid #C3D4DB
  border-top: 1px
  margin-bottom: 50px
  z-index: 2
  +border-radius(5px)
  +box-shadow(rgba(0,0,0,0.15) 0 0 1px)
  .admin_login_title
    background-color: #364898
    color: #ffffff
    text-align: center
    padding: 15px
    text-transform: uppercase
    font-weight: bold
  .login_error
    font-size: 14px
    color: red
    margin-top: 20px
  fieldset
    background: #fefefe
    border: 0
    padding: 20px
    input, select
      outline: none
      display: block
      width: 100%
      margin: 0 0 20px
      padding: 10px 15px
      border: 1px solid #ccc
      font-family: "corbert", sans-serif
      font-size: 14px
      font-weight: 400
      +transition(all .2s linear)
    button
      cursor: pointer
      background: #364898
      padding: 10px 40px
      border: 0
      color: #ffffff
      font-family: "corbert", sans-serif
      font-size: 14px
      font-weight: 400
      outline: none
      +transition(0.2s linear)
      &:hover
        background-color: #314189





.change-password-title
  color: #364898
  text-align: center
  padding: 15px
  text-transform: uppercase
  font-weight: bold
  border-top: 5px solid #364898
  border-bottom: 5px solid #364898
  +border-radius(5px 5px 0 0)