@import "mixins"
@import "default"

.category-container
  display: inline-block
  width: 1200px
  margin: 0 70px
  @media screen and (max-width: 991px)
    width: 991px

.categories-list-box
  background: #fefefe
  color: #444
  border: 1px solid #C3D4DB
  border-top: 1px
  +border-radius(5px)
  +box-shadow(rgba(0,0,0,0.15) 0 0 1px)

.refresh-btn
  position: relative
  top: -6px
  float: right
  width: 95px
  background-color: #364898
  border: 1px solid #314189
  color: #ffffff
  padding: 7px 20px
  font-weight: bold
  cursor: pointer
  outline: none
  +border-radius(2px)
  +transition(all .2s linear)
  &:hover
    background-color: #314189


.each-list-box
  display: inline-block
  width: 100%
  border-bottom: 1px solid #C3D4DB
  padding: 10px 0
  .error_msg
    width: 100%
    padding: 10px 0
    background-color: #eeeeee
    text-align: center
    color: red
  .index
    float: left
    width: 10%
    text-align: center
    margin: 10px 0
    font-weight: bold
    font-size: 20px
    color: #314189
  .main-info-box
    float: left
    width: 70%
    input, select
      width: 100%
      resize: none
      outline: none
      font-family: inherit
      font-weight: 500
      font-size: 18px
      padding: 10px
      border: none
      &:focus
        outline: 1px solid #314189
    select
      background-color: transparent
      padding: 5px
      color: #999999
      text-indent: 1px
      text-overflow: ''
      +appearance(none)
    div
      margin: 5px 10px
  .remove-btn, .save-btn
    float: right
    width: 95px
    background-color: #f44336
    border: 2px solid #f44336
    color: #ffffff
    padding: 8px 20px
    font-weight: bold
    margin: 10px 10px 0
    cursor: pointer
    outline: none
    +border-radius(2px)
    +transition(all .2s linear)
    &:hover
      background-color: #ffffff
      color: #f44336
  .save-btn
    background-color: #4caf50
    border: 2px solid #4caf50
    &:hover
      background-color: #ffffff
      color: #4caf50