@import "mixins"
@import "default"

.menu-container
  position: fixed
  right: 50px
  top: 30px
  z-index: 100
  .menu-btn
    position: relative
    z-index: 2
    background-color: rgba(118, 118, 118, 0.8)
    color: white
    font-size: 30px
    border: 1px solid rgba(118, 118, 118, 0.8)
    padding: 10px 35px
    cursor: pointer
    outline: none
    font-family: 'corbert', sans-serif
  .menu-list
    width: 350px
    position: absolute
    top: 0
    right: 0
    margin: 0
    padding: 50px 30px
    background-color: rgb(118, 118, 118)
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
    li
      color: white
      font-size: 20px
      padding: 15px
      +transition(.2s linear)
      & a:hover
        color: #364898

.main-header
  position: fixed
  width: 100%
  z-index: 100