<header-custom></header-custom>

<div class="home-container">
    <div class="contact-bg">

        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-md-6 col-md-offset-3">

                    <div class="response-recorded-cont" ng-show="successMsg">
                        <div class="inner-box">
                            <div class="title"> <img src="img/logo.png"> </div>
                            <div class="content">
                                <p>Thanks!<br>
                                    We appreciate that you’ve taken the time to write us. We’ll get back to you very soon. Please come back and see us often.
                                </p>
                                <button class="cancel-btn" ng-click="closeDialog()">OK</button>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="form-container">
                            <div class="header">
                                <h1>Contact us</h1>
                                <p>Drop us an email at <a href="contact@ieraliving.com" class="company-email">contact@ieraliving.com</a> to know more about our company and to make a business enquiry.</p>
                                <p>Alternatively, leave your details on this form and we will get back to you at the earliest.</p>
                                <h3>Fill out the form below!</h3>
                            </div>

                            <!----------- form body ------------------>
                            <div class="body">
                                <form name="contactForm" ng-submit="contactUs()">

                                    <div ng-bind="errorMsg" class="contact-error-msg"></div>

                                    <ul>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>
                                                        <label for="name">Name <span style="color: red">*</span> </label>
                                                        <input ng-model="user.name" type="text" id="name" placeholder="Name">
                                                    </p>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>
                                                        <label for="company">Company</label>
                                                        <input ng-model="user.company" type="text" id="company" placeholder="Company">
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>
                                                        <label for="email">Email <span style="color: red">*</span></label>
                                                        <input ng-model="user.email" type="email" id="email" placeholder="Email">
                                                    </p>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>
                                                        <label for="phone_no">Phone Number</label>
                                                        <input ng-model="user.number" type="number" id="phone_no" placeholder="Phone Number">
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="divider"></div>
                                        </li>
                                        <li>
                                            <label for="message">message <span style="color: red">*</span></label>
                                            <textarea ng-model="user.message" id="message" placeholder="Message here.."></textarea>
                                        </li>
                                        <li>
                                            <input class="submit-btn" type="submit" value="Submit">
                                        </li>
                                    </ul>
                                </form>
                            </div>
                            <!----------- form body ------------------>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>