<header-custom></header-custom>

<div class="home-container">
    <div class="contact-bg">

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8">

                    <div class="grids-container">
                        <div ng-repeat="category in myCategory">
                            <grid-a data="category" type="0" ng-if="category.type == 2"></grid-a>
                            <grid-b data="category" type="0" ng-if="category.type == 1"></grid-b>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <img src="img/logo.png" class="home-logo">
</div>
