ul, li {
  text-decoration: none;
  list-style-type: none;
  font-family: inherit;
  padding-left: 0;
  margin: 0; }

a, a:hover, a:visited {
  text-decoration: none;
  color: inherit; }

.row .pad-0 {
  padding: 0; }

.row .marg-0 {
  margin: 0; }

@media screen and (max-width: 601px) {
  .login-form-container {
    margin: 10px; } }

.admin_login_form {
  position: relative;
  background: #fefefe;
  color: #444;
  text-align: center;
  border: 1px solid #C3D4DB;
  border-top: 1px;
  margin-bottom: 50px;
  z-index: 2;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 1px; }
  .admin_login_form .admin_login_title {
    background-color: #364898;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold; }
  .admin_login_form .login_error {
    font-size: 14px;
    color: red;
    margin-top: 20px; }
  .admin_login_form fieldset {
    background: #fefefe;
    border: 0;
    padding: 20px; }
    .admin_login_form fieldset input, .admin_login_form fieldset select {
      outline: none;
      display: block;
      width: 100%;
      margin: 0 0 20px;
      padding: 10px 15px;
      border: 1px solid #ccc;
      font-family: "corbert", sans-serif;
      font-size: 14px;
      font-weight: 400;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    .admin_login_form fieldset button {
      cursor: pointer;
      background: #364898;
      padding: 10px 40px;
      border: 0;
      color: #ffffff;
      font-family: "corbert", sans-serif;
      font-size: 14px;
      font-weight: 400;
      outline: none;
      -webkit-transition: 0.2s linear;
      -moz-transition: 0.2s linear;
      -o-transition: 0.2s linear;
      -ms-transition: 0.2s linear;
      transition: 0.2s linear; }
      .admin_login_form fieldset button:hover {
        background-color: #314189; }

.change-password-title {
  color: #364898;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  border-top: 5px solid #364898;
  border-bottom: 5px solid #364898;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0; }

/*# sourceMappingURL=admin_login.css.map */
