ul, li {
  text-decoration: none;
  list-style-type: none;
  font-family: inherit;
  padding-left: 0;
  margin: 0; }

a, a:hover, a:visited {
  text-decoration: none;
  color: inherit; }

.row .pad-0 {
  padding: 0; }

.row .marg-0 {
  margin: 0; }

.header_icon_box {
  display: inline-block;
  width: 100%; }
  .header_icon_box .header_icon_inner {
    float: right;
    margin: 20px;
    display: none;
    cursor: pointer; }
    @media screen and (max-width: 991px) {
      .header_icon_box .header_icon_inner {
        display: inherit;
        margin: 20px 20px 0; } }
  .header_icon_box img {
    width: 35px;
    padding: 10px;
    background-color: rgba(118, 118, 118, 0.8);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }

.admin_header {
  min-height: 42px;
  background-color: rgba(118, 118, 118, 0.8);
  border: 1px solid rgba(118, 118, 118, 0.8);
  color: #ffffff;
  margin: 20px 0 50px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }
  @media screen and (max-width: 991px) {
    .admin_header {
      margin: 20px 0 50px; } }
  .admin_header ul {
    width: 100%;
    display: inline-block; }
    .admin_header ul li {
      display: inline-flex;
      cursor: pointer;
      font-weight: bold;
      margin-right: 1px; }
      @media screen and (max-width: 991px) {
        .admin_header ul li {
          display: flex; } }
      .admin_header ul li:last-child {
        float: right; }
        @media screen and (max-width: 767px) {
          .admin_header ul li:last-child {
            float: none; } }
      .admin_header ul li a {
        padding: 10px 20px;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        @media screen and (max-width: 991px) {
          .admin_header ul li a {
            width: 100%; } }
        .admin_header ul li a:hover {
          background-color: #cccccc;
          color: #364898; }

.admin_header .navbar-nav {
  margin: 0; }
  @media screen and (max-width: 767px) {
    .admin_header .navbar-nav {
      margin: 7.5px 0; } }

.admin_header .navbar-nav > li > a {
  color: white; }
  .admin_header .navbar-nav > li > a:hover {
    background-color: #cccccc;
    color: #364898; }

.admin_header .navbar-nav > .active > a, .admin_header .navbar-nav > .active > a:focus, .admin_header .navbar-nav > .active > a:hover {
  background-color: #cccccc;
  color: #364898; }

/*# sourceMappingURL=admin_header.css.map */
