.sample-show-hide {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.sample-show-hide.ng-hide {
    opacity:0;
}

.ng-hide{
    -webkit-transition:all linear 0.0s;
    transition:all linear 0.0s;
}