@charset "utf-8";

@font-face {
    font-family: 'corbert';
    src: url('/styles/fonts/corbert/Corbert-Regular.otf');
}

body{
    margin: 0;
    padding: 0;
    font-family: 'corbert', sans-serif;
}