ul, li {
  text-decoration: none;
  list-style-type: none;
  font-family: inherit;
  padding-left: 0;
  margin: 0; }

a, a:hover, a:visited {
  text-decoration: none;
  color: inherit; }

.row .pad-0 {
  padding: 0; }

.row .marg-0 {
  margin: 0; }

.category-container {
  display: inline-block;
  width: 1200px;
  margin: 0 70px; }
  @media screen and (max-width: 991px) {
    .category-container {
      width: 991px; } }

.categories-list-box {
  background: #fefefe;
  color: #444;
  border: 1px solid #C3D4DB;
  border-top: 1px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 1px; }

.refresh-btn {
  position: relative;
  top: -6px;
  float: right;
  width: 95px;
  background-color: #364898;
  border: 1px solid #314189;
  color: #ffffff;
  padding: 7px 20px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .refresh-btn:hover {
    background-color: #314189; }

.each-list-box {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #C3D4DB;
  padding: 10px 0; }
  .each-list-box .error_msg {
    width: 100%;
    padding: 10px 0;
    background-color: #eeeeee;
    text-align: center;
    color: red; }
  .each-list-box .index {
    float: left;
    width: 10%;
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
    font-size: 20px;
    color: #314189; }
  .each-list-box .main-info-box {
    float: left;
    width: 70%; }
    .each-list-box .main-info-box input, .each-list-box .main-info-box select {
      width: 100%;
      resize: none;
      outline: none;
      font-family: inherit;
      font-weight: 500;
      font-size: 18px;
      padding: 10px;
      border: none; }
      .each-list-box .main-info-box input:focus, .each-list-box .main-info-box select:focus {
        outline: 1px solid #314189; }
    .each-list-box .main-info-box select {
      background-color: transparent;
      padding: 5px;
      color: #999999;
      text-indent: 1px;
      text-overflow: "";
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none; }
    .each-list-box .main-info-box div {
      margin: 5px 10px; }
  .each-list-box .remove-btn, .each-list-box .save-btn {
    float: right;
    width: 95px;
    background-color: #f44336;
    border: 2px solid #f44336;
    color: #ffffff;
    padding: 8px 20px;
    font-weight: bold;
    margin: 10px 10px 0;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .each-list-box .remove-btn:hover, .each-list-box .save-btn:hover {
      background-color: #ffffff;
      color: #f44336; }
  .each-list-box .save-btn {
    background-color: #4caf50;
    border: 2px solid #4caf50; }
    .each-list-box .save-btn:hover {
      background-color: #ffffff;
      color: #4caf50; }

/*# sourceMappingURL=category.css.map */
