ul, li {
  text-decoration: none;
  list-style-type: none;
  font-family: inherit;
  padding-left: 0;
  margin: 0; }

a, a:hover, a:visited {
  text-decoration: none;
  color: inherit; }

.row .pad-0 {
  padding: 0; }

.row .marg-0 {
  margin: 0; }

.menu-container {
  position: fixed;
  right: 50px;
  top: 30px;
  z-index: 100; }
  .menu-container .menu-btn {
    position: relative;
    z-index: 2;
    background-color: rgba(118, 118, 118, 0.8);
    color: white;
    font-size: 30px;
    border: 1px solid rgba(118, 118, 118, 0.8);
    padding: 10px 35px;
    cursor: pointer;
    outline: none;
    font-family: "corbert", sans-serif; }
  .menu-container .menu-list {
    width: 350px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 50px 30px;
    background-color: #767676;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
    .menu-container .menu-list li {
      color: white;
      font-size: 20px;
      padding: 15px;
      -webkit-transition: 0.2s linear;
      -moz-transition: 0.2s linear;
      -o-transition: 0.2s linear;
      -ms-transition: 0.2s linear;
      transition: 0.2s linear; }
      .menu-container .menu-list li a:hover {
        color: #364898; }

.main-header {
  position: fixed;
  width: 100%;
  z-index: 100; }

/*# sourceMappingURL=header.css.map */
