ul, li {
  text-decoration: none;
  list-style-type: none;
  font-family: inherit;
  padding-left: 0;
  margin: 0; }

a, a:hover, a:visited {
  text-decoration: none;
  color: inherit; }

.row .pad-0 {
  padding: 0; }

.row .marg-0 {
  margin: 0; }

.home-container {
  width: 100%;
  height: 100vh; }
  .home-container .home-bg, .home-container .contact-bg {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%; }
    @media screen and (max-width: 991px) {
      .home-container .home-bg, .home-container .contact-bg {
        background-position-y: 70px; } }
    @media screen and (max-width: 601px) {
      .home-container .home-bg, .home-container .contact-bg {
        background-position: -50px 100px;
        background-size: 150%; } }
  .home-container .home-bg {
    background-image: url("/img/image-a.jpg"); }
  .home-container .contact-bg {
    background-image: url("/img/imge-c.jpg");
    background-attachment: fixed;
    height: auto; }
  .home-container .home-logo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 600px;
    z-index: 1; }
    @media screen and (max-width: 601px) {
      .home-container .home-logo {
        width: 300px; } }

.form-container {
  margin: 80px auto 0;
  background-color: #ffffff;
  border: 1px solid #cfcfcf;
  border-bottom: 3px solid #ccc; }
  .form-container .header {
    padding: 1.5em 2.5em;
    margin-bottom: 1rem;
    border-bottom: 1px solid #cccccc;
    background: url("/img/form-header.jpg") left -80px;
    color: #fff; }
    .form-container .header h1 {
      display: inline-block;
      font-weight: 100;
      font-size: 2.8125em;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      margin: 0 0 0.1em 0;
      padding: 0 0 0.4em 0;
      text-transform: uppercase; }
      @media screen and (max-width: 601px) {
        .form-container .header h1 {
          font-size: 2.7em; } }
    .form-container .header h3 {
      font-weight: 400;
      font-size: 1.25em;
      margin: 1em 0 0.4em 0; }
  .form-container .body {
    padding: 0.5em 2.5em 1em;
    margin-bottom: 1rem; }
    .form-container .body form ul li {
      margin: 0 0 0.25em 0;
      clear: both;
      display: inline-block;
      width: 100%; }
      .form-container .body form ul li:last-child {
        margin: 0; }
      .form-container .body form ul li p {
        margin: 0;
        padding: 0; }
    .form-container .body form label {
      display: block;
      margin: 0 0 0.5em 0;
      color: #364898;
      font-size: 1em;
      text-transform: lowercase; }
    .form-container .body form input {
      width: 100%;
      margin: 0 0 0.5em 0;
      border: 1px solid #ccc;
      padding: 6px 5px;
      color: #555;
      font-size: 1em;
      font-family: inherit; }
    .form-container .body form textarea {
      width: 100%;
      min-height: 70px;
      border: 1px solid #ccc;
      color: #555;
      resize: vertical;
      font-family: inherit; }
    .form-container .body form .divider {
      margin: 0.5em 0 0.5em 0;
      border: 0;
      height: 1px;
      width: 100%;
      display: block;
      background-color: #4f6fad;
      background-image: linear-gradient(to right, #ee9cb4, #4f6fad); }
    .form-container .body form .submit-btn {
      width: 150px;
      font-size: 1.0625em;
      display: inline-block;
      padding: 0.74em 1.5em;
      margin: 1.5em 0 0;
      color: #fff;
      border: 1px solid #ccc;
      border-width: 0 0 0 0;
      border-bottom: 5px solid;
      text-transform: uppercase;
      font-weight: 300;
      background-color: #4f6fad;
      border-bottom-color: #374d78;
      cursor: pointer;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      transition: all 0.2s linear; }
      .form-container .body form .submit-btn:hover {
        background-color: #617DB5; }

.company-email {
  font-weight: bold;
  text-decoration: underline; }

.grids-container {
  position: relative;
  margin-top: 80px;
  z-index: 5; }

.grid-title {
  color: white;
  background: #888888;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 20px; }

.grids-inner {
  padding: 10px 0 0; }

.grida-container {
  background-color: dimgray;
  margin-bottom: 20px; }
  .grida-container .img-1-box {
    height: 250px;
    margin-bottom: 10px; }
    @media screen and (max-width: 601px) {
      .grida-container .img-1-box {
        height: 200px; } }
    .grida-container .img-1-box .img-1-box-inner {
      width: 100%;
      height: 100%;
      position: relative;
      cursor: pointer; }
      .grida-container .img-1-box .img-1-box-inner .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .grida-container .img-1-box .img-1-box-inner .overlay:hover {
          background-color: transparent; }
      .grida-container .img-1-box .img-1-box-inner img {
        width: 100%;
        height: 100%;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .grida-container .img-1-box .img-1-box-inner img:hover {
          filter: grayscale(0%);
          -webkit-filter: grayscale(0%); }
      .grida-container .img-1-box .img-1-box-inner .image-upload-input {
        position: absolute;
        bottom: 5px;
        left: 25%;
        width: 123px;
        height: 31px;
        z-index: 1; }
        @media screen and (max-width: 991px) {
          .grida-container .img-1-box .img-1-box-inner .image-upload-input {
            left: 40%; } }
        @media screen and (max-width: 601px) {
          .grida-container .img-1-box .img-1-box-inner .image-upload-input {
            left: 30%; } }
      .grida-container .img-1-box .img-1-box-inner .image-upload-btn {
        position: absolute;
        left: 25%;
        bottom: 5px;
        color: white;
        background: #364898;
        border: 1px solid #364898;
        padding: 7px 25px;
        outline: none;
        cursor: pointer; }
        @media screen and (max-width: 991px) {
          .grida-container .img-1-box .img-1-box-inner .image-upload-btn {
            left: 40%; } }
        @media screen and (max-width: 601px) {
          .grida-container .img-1-box .img-1-box-inner .image-upload-btn {
            left: 30%; } }
  .grida-container .img-2-box {
    height: 250px;
    margin-bottom: 10px; }
    @media screen and (max-width: 601px) {
      .grida-container .img-2-box {
        height: 200px; } }
    .grida-container .img-2-box .img-2-box-inner {
      width: 100%;
      height: 100%;
      position: relative;
      cursor: pointer; }
      .grida-container .img-2-box .img-2-box-inner .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .grida-container .img-2-box .img-2-box-inner .overlay:hover {
          background-color: transparent; }
      .grida-container .img-2-box .img-2-box-inner img {
        width: 100%;
        height: 100%;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .grida-container .img-2-box .img-2-box-inner img:hover {
          filter: grayscale(0%);
          -webkit-filter: grayscale(0%); }
      .grida-container .img-2-box .img-2-box-inner .image-upload-input {
        position: absolute;
        bottom: 5px;
        left: 25%;
        width: 123px;
        height: 31px;
        z-index: 1; }
        @media screen and (max-width: 991px) {
          .grida-container .img-2-box .img-2-box-inner .image-upload-input {
            left: 40%; } }
        @media screen and (max-width: 601px) {
          .grida-container .img-2-box .img-2-box-inner .image-upload-input {
            left: 30%; } }
      .grida-container .img-2-box .img-2-box-inner .image-upload-btn {
        position: absolute;
        left: 25%;
        bottom: 5px;
        color: white;
        background: #364898;
        border: 1px solid #364898;
        padding: 7px 25px;
        outline: none;
        cursor: pointer; }
        @media screen and (max-width: 991px) {
          .grida-container .img-2-box .img-2-box-inner .image-upload-btn {
            left: 40%; } }
        @media screen and (max-width: 601px) {
          .grida-container .img-2-box .img-2-box-inner .image-upload-btn {
            left: 30%; } }
  .grida-container .img-3-box {
    height: 250px;
    margin-bottom: 10px; }
    @media screen and (max-width: 601px) {
      .grida-container .img-3-box {
        height: 200px; } }
    .grida-container .img-3-box .img-3-box-inner {
      width: 100%;
      height: 100%;
      position: relative;
      cursor: pointer; }
      .grida-container .img-3-box .img-3-box-inner .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .grida-container .img-3-box .img-3-box-inner .overlay:hover {
          background-color: transparent; }
      .grida-container .img-3-box .img-3-box-inner img {
        width: 100%;
        height: 100%;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .grida-container .img-3-box .img-3-box-inner img:hover {
          filter: grayscale(0%);
          -webkit-filter: grayscale(0%); }
      .grida-container .img-3-box .img-3-box-inner .image-upload-input {
        position: absolute;
        bottom: 5px;
        left: 25%;
        width: 123px;
        height: 31px;
        z-index: 1; }
        @media screen and (max-width: 991px) {
          .grida-container .img-3-box .img-3-box-inner .image-upload-input {
            left: 40%; } }
        @media screen and (max-width: 601px) {
          .grida-container .img-3-box .img-3-box-inner .image-upload-input {
            left: 30%; } }
      .grida-container .img-3-box .img-3-box-inner .image-upload-btn {
        position: absolute;
        left: 25%;
        bottom: 5px;
        color: white;
        background: #364898;
        border: 1px solid #364898;
        padding: 7px 25px;
        outline: none;
        cursor: pointer; }
        @media screen and (max-width: 991px) {
          .grida-container .img-3-box .img-3-box-inner .image-upload-btn {
            left: 40%; } }
        @media screen and (max-width: 601px) {
          .grida-container .img-3-box .img-3-box-inner .image-upload-btn {
            left: 30%; } }
  .grida-container .img-4-box {
    height: 250px;
    margin-bottom: 10px; }
    @media screen and (max-width: 601px) {
      .grida-container .img-4-box {
        height: 200px; } }
    .grida-container .img-4-box .img-4-box-inner {
      width: 100%;
      height: 100%;
      position: relative;
      cursor: pointer; }
      .grida-container .img-4-box .img-4-box-inner .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .grida-container .img-4-box .img-4-box-inner .overlay:hover {
          background-color: transparent; }
      .grida-container .img-4-box .img-4-box-inner img {
        width: 100%;
        height: 100%;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .grida-container .img-4-box .img-4-box-inner img:hover {
          filter: grayscale(0%);
          -webkit-filter: grayscale(0%); }
      .grida-container .img-4-box .img-4-box-inner .image-upload-input {
        position: absolute;
        bottom: 5px;
        left: 25%;
        width: 123px;
        height: 31px;
        z-index: 1; }
        @media screen and (max-width: 991px) {
          .grida-container .img-4-box .img-4-box-inner .image-upload-input {
            left: 40%; } }
        @media screen and (max-width: 601px) {
          .grida-container .img-4-box .img-4-box-inner .image-upload-input {
            left: 30%; } }
      .grida-container .img-4-box .img-4-box-inner .image-upload-btn {
        position: absolute;
        left: 25%;
        bottom: 5px;
        color: white;
        background: #364898;
        border: 1px solid #364898;
        padding: 7px 25px;
        outline: none;
        cursor: pointer; }
        @media screen and (max-width: 991px) {
          .grida-container .img-4-box .img-4-box-inner .image-upload-btn {
            left: 40%; } }
        @media screen and (max-width: 601px) {
          .grida-container .img-4-box .img-4-box-inner .image-upload-btn {
            left: 30%; } }
  .grida-container .img-5-box {
    height: 250px;
    margin-bottom: 10px; }
    @media screen and (max-width: 601px) {
      .grida-container .img-5-box {
        height: 200px; } }
    .grida-container .img-5-box .img-5-box-inner {
      width: 100%;
      height: 100%;
      position: relative;
      cursor: pointer; }
      .grida-container .img-5-box .img-5-box-inner .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .grida-container .img-5-box .img-5-box-inner .overlay:hover {
          background-color: transparent; }
      .grida-container .img-5-box .img-5-box-inner img {
        width: 100%;
        height: 100%;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .grida-container .img-5-box .img-5-box-inner img:hover {
          filter: grayscale(0%);
          -webkit-filter: grayscale(0%); }
      .grida-container .img-5-box .img-5-box-inner .image-upload-input {
        position: absolute;
        bottom: 5px;
        left: 25%;
        width: 123px;
        height: 31px;
        z-index: 1; }
        @media screen and (max-width: 991px) {
          .grida-container .img-5-box .img-5-box-inner .image-upload-input {
            left: 40%; } }
        @media screen and (max-width: 601px) {
          .grida-container .img-5-box .img-5-box-inner .image-upload-input {
            left: 30%; } }
      .grida-container .img-5-box .img-5-box-inner .image-upload-btn {
        position: absolute;
        left: 25%;
        bottom: 5px;
        color: white;
        background: #364898;
        border: 1px solid #364898;
        padding: 7px 25px;
        outline: none;
        cursor: pointer; }
        @media screen and (max-width: 991px) {
          .grida-container .img-5-box .img-5-box-inner .image-upload-btn {
            left: 40%; } }
        @media screen and (max-width: 601px) {
          .grida-container .img-5-box .img-5-box-inner .image-upload-btn {
            left: 30%; } }
  .grida-container .img-1-box {
    height: 250px; }
    @media screen and (max-width: 601px) {
      .grida-container .img-1-box {
        height: 200px; } }
  .grida-container .img-2-box {
    height: 250px; }
    @media screen and (max-width: 601px) {
      .grida-container .img-2-box {
        height: 200px; } }
  .grida-container .img-3-box {
    height: 200px; }
  .grida-container .img-4-box {
    height: 200px; }
  .grida-container .img-5-box {
    height: 200px; }

.gridb-container {
  background-color: dimgray;
  margin-bottom: 20px; }
  .gridb-container .img-1-box {
    height: 250px;
    margin-bottom: 10px; }
    @media screen and (max-width: 601px) {
      .gridb-container .img-1-box {
        height: 200px; } }
    .gridb-container .img-1-box .img-1-box-inner {
      width: 100%;
      height: 100%;
      position: relative;
      cursor: pointer; }
      .gridb-container .img-1-box .img-1-box-inner .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .gridb-container .img-1-box .img-1-box-inner .overlay:hover {
          background-color: transparent; }
      .gridb-container .img-1-box .img-1-box-inner img {
        width: 100%;
        height: 100%;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .gridb-container .img-1-box .img-1-box-inner img:hover {
          filter: grayscale(0%);
          -webkit-filter: grayscale(0%); }
      .gridb-container .img-1-box .img-1-box-inner .image-upload-input {
        position: absolute;
        bottom: 5px;
        left: 25%;
        width: 123px;
        height: 31px;
        z-index: 1; }
        @media screen and (max-width: 991px) {
          .gridb-container .img-1-box .img-1-box-inner .image-upload-input {
            left: 40%; } }
        @media screen and (max-width: 601px) {
          .gridb-container .img-1-box .img-1-box-inner .image-upload-input {
            left: 30%; } }
      .gridb-container .img-1-box .img-1-box-inner .image-upload-btn {
        position: absolute;
        left: 25%;
        bottom: 5px;
        color: white;
        background: #364898;
        border: 1px solid #364898;
        padding: 7px 25px;
        outline: none;
        cursor: pointer; }
        @media screen and (max-width: 991px) {
          .gridb-container .img-1-box .img-1-box-inner .image-upload-btn {
            left: 40%; } }
        @media screen and (max-width: 601px) {
          .gridb-container .img-1-box .img-1-box-inner .image-upload-btn {
            left: 30%; } }
  .gridb-container .img-2-box {
    height: 250px;
    margin-bottom: 10px; }
    @media screen and (max-width: 601px) {
      .gridb-container .img-2-box {
        height: 200px; } }
    .gridb-container .img-2-box .img-2-box-inner {
      width: 100%;
      height: 100%;
      position: relative;
      cursor: pointer; }
      .gridb-container .img-2-box .img-2-box-inner .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .gridb-container .img-2-box .img-2-box-inner .overlay:hover {
          background-color: transparent; }
      .gridb-container .img-2-box .img-2-box-inner img {
        width: 100%;
        height: 100%;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .gridb-container .img-2-box .img-2-box-inner img:hover {
          filter: grayscale(0%);
          -webkit-filter: grayscale(0%); }
      .gridb-container .img-2-box .img-2-box-inner .image-upload-input {
        position: absolute;
        bottom: 5px;
        left: 25%;
        width: 123px;
        height: 31px;
        z-index: 1; }
        @media screen and (max-width: 991px) {
          .gridb-container .img-2-box .img-2-box-inner .image-upload-input {
            left: 40%; } }
        @media screen and (max-width: 601px) {
          .gridb-container .img-2-box .img-2-box-inner .image-upload-input {
            left: 30%; } }
      .gridb-container .img-2-box .img-2-box-inner .image-upload-btn {
        position: absolute;
        left: 25%;
        bottom: 5px;
        color: white;
        background: #364898;
        border: 1px solid #364898;
        padding: 7px 25px;
        outline: none;
        cursor: pointer; }
        @media screen and (max-width: 991px) {
          .gridb-container .img-2-box .img-2-box-inner .image-upload-btn {
            left: 40%; } }
        @media screen and (max-width: 601px) {
          .gridb-container .img-2-box .img-2-box-inner .image-upload-btn {
            left: 30%; } }
  .gridb-container .img-3-box {
    height: 250px;
    margin-bottom: 10px; }
    @media screen and (max-width: 601px) {
      .gridb-container .img-3-box {
        height: 200px; } }
    .gridb-container .img-3-box .img-3-box-inner {
      width: 100%;
      height: 100%;
      position: relative;
      cursor: pointer; }
      .gridb-container .img-3-box .img-3-box-inner .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .gridb-container .img-3-box .img-3-box-inner .overlay:hover {
          background-color: transparent; }
      .gridb-container .img-3-box .img-3-box-inner img {
        width: 100%;
        height: 100%;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .gridb-container .img-3-box .img-3-box-inner img:hover {
          filter: grayscale(0%);
          -webkit-filter: grayscale(0%); }
      .gridb-container .img-3-box .img-3-box-inner .image-upload-input {
        position: absolute;
        bottom: 5px;
        left: 25%;
        width: 123px;
        height: 31px;
        z-index: 1; }
        @media screen and (max-width: 991px) {
          .gridb-container .img-3-box .img-3-box-inner .image-upload-input {
            left: 40%; } }
        @media screen and (max-width: 601px) {
          .gridb-container .img-3-box .img-3-box-inner .image-upload-input {
            left: 30%; } }
      .gridb-container .img-3-box .img-3-box-inner .image-upload-btn {
        position: absolute;
        left: 25%;
        bottom: 5px;
        color: white;
        background: #364898;
        border: 1px solid #364898;
        padding: 7px 25px;
        outline: none;
        cursor: pointer; }
        @media screen and (max-width: 991px) {
          .gridb-container .img-3-box .img-3-box-inner .image-upload-btn {
            left: 40%; } }
        @media screen and (max-width: 601px) {
          .gridb-container .img-3-box .img-3-box-inner .image-upload-btn {
            left: 30%; } }
  .gridb-container .img-4-box {
    height: 250px;
    margin-bottom: 10px; }
    @media screen and (max-width: 601px) {
      .gridb-container .img-4-box {
        height: 200px; } }
    .gridb-container .img-4-box .img-4-box-inner {
      width: 100%;
      height: 100%;
      position: relative;
      cursor: pointer; }
      .gridb-container .img-4-box .img-4-box-inner .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .gridb-container .img-4-box .img-4-box-inner .overlay:hover {
          background-color: transparent; }
      .gridb-container .img-4-box .img-4-box-inner img {
        width: 100%;
        height: 100%;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .gridb-container .img-4-box .img-4-box-inner img:hover {
          filter: grayscale(0%);
          -webkit-filter: grayscale(0%); }
      .gridb-container .img-4-box .img-4-box-inner .image-upload-input {
        position: absolute;
        bottom: 5px;
        left: 25%;
        width: 123px;
        height: 31px;
        z-index: 1; }
        @media screen and (max-width: 991px) {
          .gridb-container .img-4-box .img-4-box-inner .image-upload-input {
            left: 40%; } }
        @media screen and (max-width: 601px) {
          .gridb-container .img-4-box .img-4-box-inner .image-upload-input {
            left: 30%; } }
      .gridb-container .img-4-box .img-4-box-inner .image-upload-btn {
        position: absolute;
        left: 25%;
        bottom: 5px;
        color: white;
        background: #364898;
        border: 1px solid #364898;
        padding: 7px 25px;
        outline: none;
        cursor: pointer; }
        @media screen and (max-width: 991px) {
          .gridb-container .img-4-box .img-4-box-inner .image-upload-btn {
            left: 40%; } }
        @media screen and (max-width: 601px) {
          .gridb-container .img-4-box .img-4-box-inner .image-upload-btn {
            left: 30%; } }
  .gridb-container .img-5-box {
    height: 250px;
    margin-bottom: 10px; }
    @media screen and (max-width: 601px) {
      .gridb-container .img-5-box {
        height: 200px; } }
    .gridb-container .img-5-box .img-5-box-inner {
      width: 100%;
      height: 100%;
      position: relative;
      cursor: pointer; }
      .gridb-container .img-5-box .img-5-box-inner .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .gridb-container .img-5-box .img-5-box-inner .overlay:hover {
          background-color: transparent; }
      .gridb-container .img-5-box .img-5-box-inner img {
        width: 100%;
        height: 100%;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .gridb-container .img-5-box .img-5-box-inner img:hover {
          filter: grayscale(0%);
          -webkit-filter: grayscale(0%); }
      .gridb-container .img-5-box .img-5-box-inner .image-upload-input {
        position: absolute;
        bottom: 5px;
        left: 25%;
        width: 123px;
        height: 31px;
        z-index: 1; }
        @media screen and (max-width: 991px) {
          .gridb-container .img-5-box .img-5-box-inner .image-upload-input {
            left: 40%; } }
        @media screen and (max-width: 601px) {
          .gridb-container .img-5-box .img-5-box-inner .image-upload-input {
            left: 30%; } }
      .gridb-container .img-5-box .img-5-box-inner .image-upload-btn {
        position: absolute;
        left: 25%;
        bottom: 5px;
        color: white;
        background: #364898;
        border: 1px solid #364898;
        padding: 7px 25px;
        outline: none;
        cursor: pointer; }
        @media screen and (max-width: 991px) {
          .gridb-container .img-5-box .img-5-box-inner .image-upload-btn {
            left: 40%; } }
        @media screen and (max-width: 601px) {
          .gridb-container .img-5-box .img-5-box-inner .image-upload-btn {
            left: 30%; } }
  .gridb-container .img-1-box {
    height: 300px; }
    @media screen and (max-width: 601px) {
      .gridb-container .img-1-box {
        height: 200px; } }
  .gridb-container .img-2-box {
    height: 250px; }
    @media screen and (max-width: 601px) {
      .gridb-container .img-2-box {
        height: 200px; } }
  .gridb-container .img-3-box {
    height: 250px; }
    @media screen and (max-width: 601px) {
      .gridb-container .img-3-box {
        height: 200px; } }

.gridb-container .img-1-box .img-1-box-inner .image-upload-btn {
  left: 40%; }
  @media screen and (max-width: 601px) {
    .gridb-container .img-1-box .img-1-box-inner .image-upload-btn {
      left: 30%; } }

.pad-right-0 {
  padding-right: 0; }
  @media screen and (max-width: 991px) {
    .pad-right-0 {
      padding-right: 15px; } }

.contact-error-msg {
  color: red;
  text-align: center;
  margin-bottom: 20px; }

.response-recorded-cont {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .response-recorded-cont .inner-box {
    width: 500px;
    background-color: #ffffff;
    margin: 10% auto 0;
    border-radius: 3px;
    box-shadow: 0 0 5px #888888; }
    @media screen and (max-width: 601px) {
      .response-recorded-cont .inner-box {
        width: 300px; } }
    .response-recorded-cont .inner-box .title {
      padding: 20px;
      text-align: center;
      border-bottom: 4px solid #364898; }
      .response-recorded-cont .inner-box .title img {
        height: 30px; }
    .response-recorded-cont .inner-box .content {
      padding: 20px;
      line-height: 1.7;
      text-align: center; }
      .response-recorded-cont .inner-box .content p {
        text-align: left; }
      .response-recorded-cont .inner-box .content .cancel-btn {
        background-color: #364898;
        border: 1px solid #314189;
        color: #ffffff;
        padding: 8px 30px;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .response-recorded-cont .inner-box .content .cancel-btn:hover {
          background-color: #314189; }

/*# sourceMappingURL=home_view.css.map */
